* {
  box-sizing: border-box;
}

.btn:active {
  transform: scale(0.98);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/***** App Componenent *****/

.app {
  padding-top: 0.5em;
  min-height: 100vh;
  height: 100%;
}

.app .title {
  text-align: center;
}
/***** App Componenent *****/

/***** Settings Componenent *****/
.settings {
  margin: auto;
  width: 190px;
}
.settings .btn {
  width: inherit;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 3px;
  color: rgb(0, 0, 0, 0.75);
  background-color: rgba(245, 245, 245);
  padding: 0.5em;
  transition: 0.3s background-color;
}

.settings .btn:hover {
  background-color: rgb(245, 245, 245);
}

.settings .bg-color-changer {
  box-sizing: border-box;
  border-radius: 3px;
  width: inherit;
  margin-top: 5px;
  position: absolute;
}

.settings .bg-color-changer .color {
  width: inherit;
  display: flex;
  justify-content: space-between;
  transition: 0.3s background-color;
}

.settings .bg-color-changer .color:hover {
  cursor: pointer;
  background-color: whitesmoke;
  width: 188px;
}

.settings .bg-color-changer .color .box {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0, 0.75);
}

.settings .bg-color-changer .color .box.blue {
  background-color: rgb(240, 248, 255);
}
.settings .bg-color-changer .color .box.purple {
  background-color: rgb(230, 230, 250);
}
.settings .bg-color-changer .color .box.green {
  background-color: rgb(210, 248, 210);
}
.settings .bg-color-changer .color .box.pink {
  background-color: rgb(255, 233, 236);
}
/***** Settings Componenent *****/

/***** Calculator Component *****/

.frame {
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.screen {
  box-sizing: border-box;
  width: 225px;
  height: 100px;
  padding: 5px;
  border: 2px solid lightgray;
  background-color: whitesmoke;
  font-size: 1.5em;
  word-wrap: break-word;
  overflow-y: auto;
}

.screen .value {
  color: rgba(0, 0, 0, 0.75);
}

.calc-btns-container {
  box-sizing: border-box;
  width: 225px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(211, 211, 211, 0.5);
}

.button {
  width: calc(200px / 4);
  padding: 3px 0px;
  background-color: rgba(211, 211, 211, 0.75);
  border: 1px solid rgb(211, 211, 211);
  margin: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s background-color;
}

.button:hover {
  background-color: rgb(211, 211, 211);
  border: 1px solid rgba(211, 211, 211, 0.75);
}

.button:active {
  transform: scale(0.97);
}

.op {
  font-size: 1.1em;
}

.enter {
  width: 175px;
}

.limit-reached {
  color: rgba(255, 0, 0, 0.75);
  font-size: 0.7em;
}

/***** Calculator Component *****/
