* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.btn:active {
  transform: scale(0.98);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
/***** App Componenent *****/

.app {
  height: 100vh;
  object-fit: cover;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app .title {
  text-align: center;
  cursor: default;
}

.app .overlay {
  height: 100vh;
  width: inherit;
  margin: 0;
  padding: 0;
  background-color: rgba(105, 105, 105, 0.4);
  z-index: -100;
}
/***** App Componenent *****/

/***** Settings Componenent *****/
.settings {
  margin: auto;
  width: 210px;
  text-align: center;
  z-index: 100;
}
.settings .btn {
  margin-top: 5px;
  width: inherit;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.85);
  padding: 0.5em;
  transition: 0.3s background-color;
}

.settings .bg-color-changer {
  box-sizing: border-box;
  border-radius: 3px;
  width: inherit;
  margin-top: 5px;
  position: absolute;
}

.settings .bg-color-changer .color {
  margin-top: 0;
  width: inherit;
  display: flex;
  justify-content: space-between;
  transition: 0.3s background-image;
  background-color: rgba(0, 0, 0, 0.85);
}

.settings .bg-color-changer .color:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.95);
  width: 208px;
}

.settings .bg-color-changer .color .box {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0, 0.55);
  background-position: center;
  background-size: cover;
}

.settings .bg-color-changer .color .box.clouds {
  background-image: url("https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
.settings .bg-color-changer .color .box.mountains {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
.settings .bg-color-changer .color .box.beach {
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
.settings .bg-color-changer .color .box.city {
  background-image: url("https://images.unsplash.com/photo-1514565131-fce0801e5785?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

.settings .not-hovered {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px !important;
}

.settings .not-hovered .fa-cog {
  font-size: 1.5em;
}

/***** Settings Componenent *****/

/***** Calculator Component *****/

.frame {
  width: 270px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.screen {
  box-sizing: border-box;
  width: 245px;
  height: 100px;
  padding: 5px;
  border: 2px solid lightgray;
  background-color: whitesmoke;
  font-size: 1.5em;
  word-wrap: break-word;
  overflow-y: auto;
}

.screen .value {
  color: rgba(0, 0, 0, 0.75);
}

.calc-btns-container {
  box-sizing: border-box;
  width: 245px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(211, 211, 211, 0.5);
}

.button {
  width: calc(210px / 4);
  height: 30px;
  /* padding: 4px 0px; */
  background-color: rgba(211, 211, 211, 0.75);
  border: 1px solid rgb(211, 211, 211);
  margin: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s background-color;
}

.button:hover {
  background-color: rgb(211, 211, 211);
  border: 1px solid rgba(211, 211, 211, 0.75);
}

.button:active {
  transform: scale(0.97);
}

.button.op {
  font-size: 1.1em;
}

.button.back {
  box-sizing: border-box;
}

.full-button {
  width: 177px;
}

.half-button {
  width: 84px;
}

.button.back,
.button.forward {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.075);
}

.button.back:hover,
.button.forward:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.back .fa-undo-alt,
.forward .fa-redo-alt {
  color: rgba(25, 25, 112, 0.5);
}

.limit-reached {
  color: darkred;
  font-size: 0.7em;
}

.value .error {
  font-size: 0.8em;
  color: darkred;
}

.value .not-error {
  font-size: 1em;
  color: rgb(0, 0, 0, 0.75);
}

/***** Calculator Component *****/
